<h3>Your blogs</h3>

<% @blogs.each do |t|%>
	<div><%= t.title %></div>
	<div><a href='/blogs/<%= t.id %>/edit_blog'>Edit Blog</a></div>
	<form action='/blogs/<%= t.id %>/delete_blog' method='post'>
	<div><input type="submit" value="Delete Blog"></div>
    </form>


------------------------

<% end %>	