<h3>Create a new blog:</h3>

<form action='/create' method='post'>
	<input type="text" name="title" placeholder='title'>
	<input type="text" name="content" placeholder='content'>
	<input type="submit" value="Create">
</form>

<a href="/your-blog-list">Your Blog List</a>