<div class="create-blog">Create a new blog:

<form action='/create_blogs' method='post'>
	<div><input type="text" name="title" placeholder='title'></div>
	<div><textarea rows="4" cols="50" type="text" name="content" placeholder='content'></textarea></div>
	<div><input type="submit" value="Create"></div>
</form>

</div>