<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<div class="user-posts">Blog Posts:

<% @blogs.each do |t|%>
	<a href='/blogs/<%= t.id %>'><div><%= t.title %></div></a><br>
	
<% end %>	

</div>