<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<h3 class="cont-title">Contributors</h3>
<div class="cont-list">
<% @users.each do |t| %>
<a href='/contributors/<%= t.id %>'><div><%= t.username %></div></a>
<% end %>
</div>