<h4>Edit User</h4>

<form action='/update' method='post'>
	<input type="text" name="fname" placeholder="First Name">
	<input type="text" name="lname" placeholder='Last Name'>
	<input type="text" name="age" placeholder='Age'>
	<input type="submit" value='Login'>


</form>

<h4>Delete User</h4>
<form action='/destroy_user' method='post'>
	<input type="submit" value='Delete account'>

</form>