<h3>All blogs</h3>

<% @blogs.each do |t|%>
	<div><%= t.title %></div>
	------------------------
<% end %>	


<h4>Sign in form</h4>
<form action='/signin' method='post'>
	<input type="text" name="username" placeholder='username'>
	<input type="password" name="password" placeholder='password'>
	<input type="submit" value="Sign in">

</form>