<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<nav>
	<div><a href="/">HOME</a></div>
	<div><a href="/profile">Profile</a></div>
	<div><a href="/users/signup">Sign up</a></div>

</nav>



<div class='main-container'>
	<%= yield %>
</div>