<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<div class="navbar">
	<a href="/">Home</a>
    <% if !current_user %>
    	<a href='/login'>Login</a>
	<% else %>
		<a href='/users/<%= current_user.id %>'>Profile</a>
		<a href='/logout'>logout</a>
		<!-- <form method='post' action='/logout'>
			<input type="submit" name="" value='log out'>
		</form> -->
	<%end%>
</div>


<div class='main-container'>
	<% flash.keys.each do |type| %>
	<div data-alert class="flash <%= type %> alert-box radius">
		<%= flash[type] %>
		<a href="X" class="close">&times;</a>
	</div>
	<% end %>
	<%= yield %>
</div>