<h3>Login please</h3>

<form action='/login' method='post'>
	<input type="text" name="fname" placeholder="First Name">
	<input type="text" name="lname" placeholder='Last Name'>
	<input type="text" name="age" placeholder='Age'>
	<input type="submit" value='Login'>
</form>