body{
	font-family: MyFont;
	background-color: $main-background;
}

.main-blog-posts{
	width: 70%;
 	border-radius: 5px;
 	padding: 10px;
 	background-color: white;
 	margin: 10% auto;
 	text-align: center;

}

.welcome{
	width: 50%;
	border-radius: 5px;
	padding: 10px;
 	background-color: white;
 	margin: 10% auto;
 	text-align: center;
 	font-size: 30px;
}