
.newblog {
    background-color: #708090; /* Green */
    border: none;
    color: white;
    padding: -5px -5px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px


}

.newblog:hover {
    background-color: #4682B4;

}

.bloglist {
    background-color: #708090; /* Green */
    border: none;
    color: white;
    padding: -5px -5px;
    text-transform: uppercase;
    // text-align: center
    text-decoration: none;
    display: inline-block;
    font-size: 5px


}

.bloglist:hover {
    background-color: #4682B4;

}





