
<h2>Welcome</h2>
<%= @user.fname %>
<%= @user.lname %>


<div>Username:

<%= @user.username %>

<a href='/users-<%= @user.id %>/edit'>Edit/Delete</a></div>

<br>

<!-- Create Blog Button -->

<input type="submit" value="Create New Blog Post">

<!-- Your Blog Posts Button -->


<form action='/your-blog-list' method='get'>
	<input type="submit" value="Your Blog Posts">
</form>
<!-- Logout button below -->

<form action='/logout' method='post'>
	<input type="submit" value="Logout">
</form>
