<header>
<link rel="stylesheet" type="text/css" href="main.css">
<header>

<div class="sign-up">Sign Up:

<form action='/create_users' method='post'>
	<br>
	<div><input type="type" name="fname" placeholder='First Name'></div>
	<div><input type="type" name="lname" placeholder='Last Name'></div>
	<div><input id='username' type="text" name="username" placeholder='Username'></div>
	<div><input id='password' type="text" name="password" placeholder='Password'></div>
	<div><input type="submit" value="Create new user"></div>
</form>

</div>

<script type="text/javascript" src="JavaScript/main.js"></script>
